# --- Databases ---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

# --- Monitoring ---
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=
WATCHTOWER_SLACK_WEBHOOK=

# --- Keycloak ---
KEYCLOAK_ADMIN_USER=
KEYCLOAK_ADMIN_PASSWORD=

# --- Storage (MinIO) ---
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
